@model EsbLog.Domain.Platform.App

@{
    ViewBag.Title = "新增应用";
}
@section css{
    <link rel="stylesheet" href="~/Content/Matrix/css/uniform.css" />
    <link rel="stylesheet" href="~/Content/Matrix/css/select2.css" />
}
@section scripts{
    <script src="~/Content/Matrix/js/jquery.uniform.js"></script>
    <script src="~/Content/Matrix/js/select2.min.js"></script>
    <script src="~/Content/Matrix/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Matrix/js/matrix.tables.js"></script>
}

<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-align-justify"></i> </span>
                <h5>新增应用</h5>
            </div>
            <div class="widget-content nopadding">
                @using (Html.BeginForm("Add", "AppManage", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="control-group">
                        <label class="control-label">应用名称</label>
                        <div class="controls">
                            <input type="text" name="Name" class="span11" placeholder="请输入应用名称">
                        </div>
                    </div>
                    
                    <div class="control-group">
                        <label class="control-label">应用编号</label>
                        <div class="controls">
                            <input type="text" name="Code" class="span11" placeholder="请输入应用编号">
                        </div>
                    </div>
                    
                    <div class="control-group">
                        <label class="control-label">描述</label>
                        <div class="controls">
                            <textarea name="Description" class="span11" placeholder="请输入描述"></textarea>
                        </div>
                    </div> 
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success">保存</button>

                        @Html.ActionLink("返回", "Index", null, new { @class = "btn btn-primary" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>
