@model EsbLog.Web.Models.LoginUserViewModel
@{
    Layout = null;
}
@section script{
    <script src="~/Content/Matrix/js/matrix.form_common.js"></script>
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>日志管理平台</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/Matrix/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Matrix/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/Content/Matrix/css/matrix-login.css" />
    <link href="~/Content/Matrix/css/font-awesome.css" rel="stylesheet" />
    @*<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>*@

</head>
<body>
    <div id="loginbox">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-vertical", id = "loginform" }))
        {
        
            <div class="control-group normal_text"> <h3>日志管理平台</h3></div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_lg"><i class="icon-user"> </i></span>
                        <input type="email" id="UserName" name="UserName" placeholder="注册邮箱" />
                    </div>
                </div>
            </div>
            @Html.Hidden("returnUrl", (string)ViewBag.ReturnUrl)            
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_ly"><i class="icon-lock"></i></span>
                        <input type="password" id="Password" name="Password" placeholder="密码" />
                    </div>
                </div>               
            </div>
            
            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
            <div class="form-actions">
                <span class="pull-left"><a href="#" class="flip-link btn btn-info" id="to-recover">忘记密码?</a></span>
                <span class="pull-right">
                    @*@Html.ActionLink("登录",)*@
                    <button type="submit" class="btn btn-success">登录</button></span>
            </div>        
        }

        @using (Html.BeginForm("Recover", "Account", FormMethod.Post, new { @class = "form-vertical", id = "recoverform" }))
        {        
            <p class="normal_text">请输入注册的邮箱，我们会发送给你重置的密码。</p>

            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lo"><i class="icon-envelope"></i></span><input type="text" name="recoverEmail" id="recoverEmail" placeholder="邮箱地址" />
                </div>
            </div>

            <div class="form-actions">
                <span class="pull-left"><a href="#" class="flip-link btn btn-success" id="to-login">&laquo; 返回登录</a></span>
                <span class="pull-right">
                    <button type="submit" class="btn btn-info">找回密码</button>
                </span>
            </div>
        }
    </div>

    <script src="~/Content/Matrix/js/jquery.min.js"></script>
    <script src="~/Content/Matrix/js/matrix.login.js"></script>
</body>

</html>


