@model EsbLog.Web.Models.LoginUserViewModel
@{
    Layout = null;
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/signin.css" rel="stylesheet">
    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@
</head>
<body>
    <div class="container">
        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-signin" }))
        {
             <h2 class="form-signin-heading">统一日志管理平台</h2>
            <label for="inputEmail" class="sr-only">邮箱</label>
            
            <input type="email" id="UserName" name="UserName" class="form-control" placeholder="邮箱" required autofocus>
            <label for="inputPassword" class="sr-only">密码</label>
            <input type="password" id="Password" name="Password" class="form-control" placeholder="密码" required>
            @Html.ValidationSummary(true,"", new { @class = "alert alert-danger" })
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="RememberMe" value="remember-me">记住我
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">登 录</button>
        }

    </div> 
</body>
</html>

